@tailwind base;
@tailwind components;

.table-header {
  @apply pt-2 pb-1 font-normal text-center border-b border-gray-700 text-xl tracking-wide mb-1 mx-1;
}

.subgroup-description {
  @apply w-full text-center h-auto py-2 border-b border-t border-blue-400 bg-blue-100 tracking-wider font-normal uppercase text-sm;
}

.cell {
  @apply py-2 border-b border-blue-100 text-sm px-2;
}

.cell-input {
  @apply max-w-full w-full border-transparent font-light text-center inline p-2;
}

.cell-input:focus {
  @apply border-b border-gray-400 outline-none;
}

.cell-input[readonly] {
  @apply border-transparent;
}

button:focus {
  outline: none;
}

.cell-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.settings {
  @apply relative;
}

.settings-icon {
  @apply opacity-70 hover:opacity-100 transition-opacity duration-500 cursor-pointer text-pink-900;
}

.settings-actions {
  @apply text-gray-600;
}

.settings-actions i {
  @apply cursor-pointer;
}

.creation-row {
  max-height: 0px;
  transition: max-height 0.25s ease-out;
}

.show-creation-row {
  max-height: 100%;
  transition: max-height 0.25s ease-in;
}

.cell-input[contenteditable]:empty::before {
  content: "Empty";
  color: gray;
}

@tailwind utilities;
